@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header-container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 1420px;
	margin: 0 auto;
	position: relative;
}

.logo-link {
	display: block;
}

.logo {
	width: 100px;
}

ul {
	padding: 0;
}

.nav-menu {
	list-style: none;
	display: flex;
}

.nav-menu li a {
	font-size: 16px;
}

.nav-menu li:hover .submenu {
	display: block;
}

.section-title {
	font-size: 20px;
}

.nav-menu li a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: red;
}

.submenu {
	display: none;
	list-style: none;
	position: absolute;
	background: #fff;
	z-index: 1;
}

.slideshow {
	width: 100%;
	margin-top: 20px;
}

.popular-product-section {
	margin-top: 60px;
}

.popular-product-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.company-container {
	display: flex;
	align-items: center;
}

.our-company {
	width: 60%;
	object-fit: cover;
}

.text {
	width: 40%;
	font-size: 14px;
	margin-right: 40px;
	line-height: normal;
}

.blog-img {
	width: 100%;
	object-fit: cover;
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.blog-post {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 25px;
}

.blog-post p {
	font-size: 13px;
}

.blog-post__link {
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}

h4 {
	font-size: 12px;
}