@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	display: block;
}

.logo {
	width: 100px;
}

ul {
	padding: 0;
}

.nav-menu {
	list-style: none;
	display: flex;
}

.nav-menu li a {
	font-size: 16px;
}

.nav-menu li:hover .submenu {
	display: block;
}

li a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;
}

.submenu {
	display: none;
    list-style: none;
    position: absolute;
    background: #fff;
}

.slideshow {
	width: 1170px;
    margin-top: 20px;
}

.popular-product-section {
	margin-top: 60px;
}

.popular-product-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.popular-title {
	font-size: 20px;
}

.company-container {
	display: flex;
}

.company {
	font-size: 20px;
}

.text {
	font-size: 10px;
}

.blog-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-title {
	font-size: 20px;
}

.blog-img {
	width: 230px;
}

.blog-post {
	width: 230px;
}

a {
	text-decoration: none;
	color: #000;
}

h4 {
	font-size: 12px;
}

p {
	font-size: 8px;
}