@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.header-container {
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 576px) {
	.header-container {
		max-width: 540px;
	}	
}

@media (min-width: 768px) {
	.header-container {
		max-width: 720px;
	}
}

@media (min-width: 960px) {
	.header-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.header-container {
		max-width: 1720px;
	}
}

.logo-link {
	display: block;
}

ul {
	padding: 0;
}

.nav-menu {
	list-style: none;
	display: flex;
}

.nav-menu li a {
	font-size: 24px;
}

.nav-menu li:hover .submenu {
	display: block;
}

li a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;
}

.submenu {
	display: none;
    list-style: none;
    position: absolute;
    background: #fff;
}

.slideshow-container {
 	display: flex;
 	justify-content: center; 
}

.slideshow {
	width: 1720px;
    margin-top: 20px;
}

.popular-product-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}
.popular-title {
	font-size: 24px;
}
